docs
**/mountpoint

tilde
/tilde/*
./tilde/*
**/tilde/*


.testing
.jj
.git
.github
node_modules
**/node_modules
.env
.env.*
**/.env
**/.env.*

.DS_Store
temp
.DS_Store
*.log
*.md
*.el
*.org
build
**/build
**/.svelte-kit