tilde
tilde/*
/tilde/*
./tilde/*
**/mountpoint

.jj
.git
.github
node_modules
**/node_modules

*/package-lock.json

migrations/
*.db

.env
.env.*
**/.env
**/.env.*
!.env.source
!.env.example

.DS_Store
**/build
.aider*
