{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 100,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteIndentScriptAndStyle": true,
  "overrides": []
}
