{
    "useTabs": false,
    "singleQuote": false,
    "trailingComma": "none",
    "tabWidth": 2,
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.viva",
            "options": { "parser": "babel" }
        }
    ]
}
