:root[data-theme="dark"] {
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --font-family-brand: K2D, sans;
  --font-family-serif-head: Sabon, serif;
  --font-family-serif-text: Sabon, serif;
  --font-family-sans-head: Space Grotesk, sans;
  --font-family-sans-text: Space Grotesk, sans;
  --font-family-code: Source Code Pro, monospace;
  --font-size-xs: 0.8rem;
  --font-size-sm: 1.0rem;
  --font-size-base: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 1.8rem;
  --font-size-3xl: 2.0rem;
  --font-size-4xl: 2.4rem;
  --font-size-5xl: 2.9rem;
  --font-size-6xl: 3.5rem;
  --font-size-7xl: 4.3rem;
  --font-size-8xl: 5.1rem;
  --line-height-xs: 0.8;
  --line-height-sm: 1.0;
  --line-height-base: 1.0;
  --line-height-lg: 1.1;
  --line-height-xl: 1.1;
  --line-height-2xl: 1.1;
  --line-height-3xl: 1.2;
  --line-height-4xl: 1.25;
  --line-height-5xl: 1.3;
  --line-height-6xl: 1.3;
  --line-height-7xl: 1.3;
  --line-height-8xl: 1.3;
  --box-shadow-sm: 0 1px 2px rgb(0, 0, 0, 0.05);
  --box-shadow-DEFAULT: 1 1px 3px rgb(0, 0, 0, 0.1);
  --box-shadow-md: 1px 4px 6px  rgb(0, 0, 0, 0.4);
  --box-shadow-lg: 4px 4px 8px rgb(0, 0, 0, 0.9);
  --box-shadow-xl: 8px 8px 16px rgb(0, 0, 0, 0.99);
  --drop-shadow-sm: 0 1px 2px rgb(0, 0, 0, 0.05);
  --drop-shadow-DEFAULT: 1 1px 3px rgb(0, 0, 0, 0.1);
  --drop-shadow-md: 1px 4px 6px rgb(0, 0, 0, 0.4);
  --drop-shadow-lg: 3px 3px 6px rgb(0, 0, 0, 0.9);
  --drop-shadow-xl: 8px 8px 16px rgb(0, 0, 0, 0.99);
  --drop-shadow-none: 0 0 #0000;
  --container-center: false;
  --container-padding-default: 1rem;
  --container-padding-sm: 2rem;
  --container-padding-lg: 4rem;
  --border-radius-none: 0;
  --border-radius-sm: 0.125rem;
  --border-radius-default: 0.425rem;
  --border-radius-lg: 0.75rem;
  --border-radius-full: 9999px;
  --animation-spin-slow: spin 9s linear infinite;
  --colors-palette-white: #F2F4F6;
  --colors-palette-black: #030D0D;
  --colors-palette-gray-0: #ffffff;
  --colors-palette-gray-10: #F3F5F7;
  --colors-palette-gray-20: #E8ECF0;
  --colors-palette-gray-30: #DDE3E8;
  --colors-palette-gray-40: #D3DAE1;
  --colors-palette-gray-50: #C8D1D9;
  --colors-palette-gray-60: #BEC8D2;
  --colors-palette-gray-70: #B4BFCA;
  --colors-palette-gray-80: #AAB6C3;
  --colors-palette-gray-90: #A0ADBA;
  --colors-palette-gray-100: #95A3B2;
  --colors-palette-gray-200: #8999A8;
  --colors-palette-gray-300: #7B8C9D;
  --colors-palette-gray-400: #697B8D;
  --colors-palette-gray-500: #4C5E70;
  --colors-palette-gray-600: #354556;
  --colors-palette-gray-700: #202E3B;
  --colors-palette-gray-800: #08131E;
  --colors-palette-gray-900: #020508;
  --colors-palette-gray-950: #000000;
  --colors-skeleton-app-surface: #020508;
  --colors-skeleton-app-link: #1ebcb5;
  --colors-skeleton-surface-1: #08131E;
  --colors-skeleton-surface-2: #020508;
  --colors-skeleton-surface-3: #697B8D;
  --colors-skeleton-surface-4: #95A3B2;
  --colors-skeleton-contrast-1: #8999A8;
  --colors-skeleton-contrast-2: #7B8C9D;
  --colors-skeleton-contrast-3: #08131E;
  --colors-skeleton-contrast-4: #4C5E70;
  --colors-skeleton-boundary-1: #7B8C9D;
  --colors-skeleton-boundary-2: #7B8C9D;
  --colors-skeleton-boundary-3: #4C5E70;
  --colors-skeleton-boundary-4: #697B8D;
  --colors-system-info-surface: #01004e;
  --colors-system-info-contrast: #515cd8;
  --colors-system-info-boundary: #1e28bc;
  --colors-system-info-hover-surface: #1e28bc;
  --colors-system-info-hover-contrast: #01003a;
  --colors-system-info-hover-boundary: #010029;
  --colors-system-success-surface: #004e1f;
  --colors-system-success-contrast: #51d87b;
  --colors-system-success-boundary: #1ebc50;
  --colors-system-success-hover-surface: #1ebc50;
  --colors-system-success-hover-contrast: #003a17;
  --colors-system-success-hover-boundary: #002910;
  --colors-system-warning-surface: #4e2e00;
  --colors-system-warning-contrast: #d89651;
  --colors-system-warning-boundary: #bc701e;
  --colors-system-warning-hover-surface: #bc701e;
  --colors-system-warning-hover-contrast: #3a2300;
  --colors-system-warning-hover-boundary: #291800;
  --colors-system-danger-surface: #4e0004;
  --colors-system-danger-contrast: #d85165;
  --colors-system-danger-boundary: #bc1e33;
  --colors-system-danger-hover-surface: #bc1e33;
  --colors-system-danger-hover-contrast: #3a0003;
  --colors-system-danger-hover-boundary: #290002;
  --colors-system-error-surface: #4e0004;
  --colors-system-error-contrast: #d85165;
  --colors-system-error-boundary: #bc1e33;
  --colors-system-error-hover-surface: #bc1e33;
  --colors-system-error-hover-contrast: #3a0003;
  --colors-system-error-hover-boundary: #290002;
  --colors-system-disabled-surface: #4C5E70;
  --colors-system-disabled-contrast: #8999A8;
  --colors-system-disabled-boundary: #7B8C9D;
  --colors-system-disabled-hover-surface: #7B8C9D;
  --colors-system-disabled-hover-contrast: #202E3B;
  --colors-system-disabled-hover-boundary: #020508;
  --colors-theme-primary-surface: #004c4e;
  --colors-theme-primary-contrast: #51d8d0;
  --colors-theme-primary-boundary: #1ebcb5;
  --colors-theme-primary-hover-surface: #1ebcb5;
  --colors-theme-primary-hover-contrast: #00383a;
  --colors-theme-primary-hover-boundary: #002729;
  --colors-theme-secondary-surface: #01004e;
  --colors-theme-secondary-contrast: #515cd8;
  --colors-theme-secondary-boundary: #1e28bc;
  --colors-theme-secondary-hover-surface: #1e28bc;
  --colors-theme-secondary-hover-contrast: #01003a;
  --colors-theme-secondary-hover-boundary: #010029;
  --colors-theme-accent-surface: #4e0031;
  --colors-theme-accent-contrast: #d851b1;
  --colors-theme-accent-boundary: #bc1e8c;
  --colors-theme-accent-hover-surface: #bc1e8c;
  --colors-theme-accent-hover-contrast: #3a0024;
  --colors-theme-accent-hover-boundary: #290019;
}
