@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow: clip;
  background: var(--surface);
  color: var(--text-strong);
  font-family: var(--font-family-sans-text);
  line-height: var(--size-leading-loose);
}

.debug {
  outline: 1px solid red;
  > * { outline: 1px solid red; }
}
.debug-deep {
  outline: 1px solid red;
  * { outline: 1px solid red; }
}
