############
# Secrets
# YOU MUST CHANGE THESE BEFORE GOING INTO PRODUCTION
############

POSTGRES_PASSWORD=$DATABASE_PASSWORD
JWT_SECRET=$JWT_SECRET

SUPABASE_ANON_KEY=$SUPABASE_ANON_KEY
SUPABASE_SERVICE_KEY=$SUPABASE_SERVICE_KEY

DASHBOARD_USERNAME=$SUPABASE_DASHBOARD_USERNAME
DASHBOARD_PASSWORD=$SUPABASE_DASHBOARD_PASSWORD


############
# Database
############
POSTGRES_HOST=db
POSTGRES_DB=$DATABASE_DB
POSTGRES_PORT=$DATABASE_PORT
POSTGRES_USER=$DATABASE_USER

############
# Supavisor -- Database pooler
# UNUSED
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=your-tenant-id


############
# API Proxy
############
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443

############
# API
############
PGRST_DB_SCHEMAS=public,storage,graphql_public

############
# Auth
############
## General
SITE_URL="http://localhost:3000"
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=$SUPABASE_URL

## Mailer Config
MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

## Email auth
ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=[UNSET]
SMTP_HOST=[UNSET]
SMTP_PORT=465
SMTP_USER=[UNSET]
SMTP_PASS=[UNSET]
SMTP_SENDER_NAME=[UNSET]

## Phone auth
ENABLE_ANONYMOUS_USERS=false
ENABLE_PHONE_SIGNUP=false
ENABLE_PHONE_AUTOCONFIRM=true

############
# Studio
############
STUDIO_DEFAULT_ORGANIZATION=Vivalence
STUDIO_DEFAULT_PROJECT=Vivalence
STUDIO_PORT=3000
SUPABASE_PUBLIC_URL=$SUPABASE_URL

############
# Functions
############
FUNCTIONS_VERIFY_JWT=false

############
# Logs
############
LOGFLARE_LOGGER_BACKEND_API_KEY=[UNSET]
LOGFLARE_API_KEY=[UNSET]
DOCKER_SOCKET_LOCATION=/var/run/docker.sock
GOOGLE_PROJECT_ID=None
GOOGLE_PROJECT_NUMBER=None

############
# Additional Configuration
############
IMGPROXY_ENABLE_WEBP_DETECTION=true
